.form-control:focus {
    outline: none;
    box-shadow: 0px 0px 0px 0px;
    border-color: blueviolet;
}

.btn.btn-primary {
    outline: none;
    box-shadow: 0px 0px 0px 0px;
    background-color: blueviolet;
    border: blueviolet;
}

.btn.btn-primary:active {
    background-color: rgb(182, 119, 241);
}

.col-3 {
    padding: 15px;
    margin-top: 200px;
    border: 1px solid blueviolet;
    border-radius: 20px;
}

.row {
    margin-top: 10px;
    justify-content: center;
}

.card.text-center.mb-3 {
    margin: 10px;
    padding: 10px;
}

.spacer {
    padding: 80px;
}